Repository p-factory/P-factory-Front, pull requests merged in 2024-09, with the labels that each got.

#7 [FE] 개발환경 workspace를 설정한다.
  .gitignore
  front/README.md
  package-lock.json
  package.json
Labels: Config, npm

#13 설치한 라이브러리를 검토한다.
  .eslintrc.cjs
  .vscode/setting.json
  front/.eslintrc.cjs
  front/package-lock.json
  front/package.json
  front/postcss.config.js
  front/src/App.tsx
  front/src/Controller/README.md
  front/src/Model/README.md
  front/src/View/README.md
  front/src/View/test.tsx
  front/src/index.css
  front/src/index.tsx
  front/tailwind.config.js
  front/test.for.tsx
  front/tsconfig.json
  mocking/package.json
  package-lock.json
  package.json
  test.js
Labels: 👨‍💻FE, 🛠Config, ⚛React, 🧰npm, 🐞Bug

#15 디자인 시스템을 적용하고 환경을 초기화 한다.
  front/package-lock.json
  front/package.json
  front/public/favicon.ico
  front/public/index.html
  front/public/logo192.png
  front/public/logo512.png
  front/src/App.css
  front/src/App.tsx
  front/src/View/devTailwindPreview.tsx
  front/src/View/test.tsx
  front/src/index.tsx
  front/src/logo.svg
  front/tailwind.config.js
Labels: 👨‍💻FE, 🛠Config, ⚛React, 🧰npm
